<h1>All Shelters</h1>

<% @shelters.each do |shelter| %>
    <h3><%= shelter.name %></h3>
<% end %>

<div id="pending">
  <h3>Shelter's with Pending Applications</h3>
  <% @pending.each do |shelter| %>
    <%= shelter.name %>
  <% end %>
</div>
